/* BASE HTML */
html{
  box-sizing: border-box;
  line-height: 62.4%;
}
*, *::before, *::after{
  box-sizing: inherit;
}
body {
  line-height: 1.6rem;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  
}
/* /====================/ */
/* HEADEER */
.principal{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: gainsboro;
  width: 100%;
  height: auto;
  padding: 7px;
}

.logo {
  height: auto;
  position: relative;
  margin-left: 15px;
  
}
.principal p {
  margin: 0 auto;
  padding: 7px 12px;
  font-size: 1.2rem;
  
}

.socio-medias {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 12px 10px auto;
  cursor: pointer;
  padding: 7px 12px 7px 12px;
}
.material-symbols-outlined {
  margin-left: 10px;
  background-color: rgb(190, 190, 81);
  border-radius: 7px;
  padding: 7px;
}

.soutiens-presse {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(246, 219, 14);
  border-radius: 20px;
  padding: 7px 12px 7px 12px;
  margin: 10px 12px 10px auto;
  border: 1px solid black;
}
.soutiens-presse a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
/* /========================/ */
/* <!-- MENU-PRINCIPAL --> */
nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  margin-top: 0;
  width: 100%;
}

nav ul li {
  list-style: none;
  margin: 5px 12px;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
}

nav ul a {
  text-decoration: none;
  color: white;
  font-size: auto;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li:hover {
  background-color: red;
  
}

nav ul li:active {
  background-color: violet;
 
}
/* /=======================/ */
/* CONTAINER-PRINCIPAL */
.container-principal {
  display: flex;
  justify-content: space-around;
 
}

.container-principal section {
  border: 1px solid rgb(232, 223, 223);
  margin-left: 5px;
}

.container-principal img {
  width: 50%;
  
}
.container-principal h2{
  text-align: center;
}
.container-principal p{
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 font-size: 1.2rem;
}

.container-principal a{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  width: 50%;
  margin: 0 auto;
  padding: 7px;
  border-radius: 12px;
  background-color: rgb(242, 206, 138);
  color: black;
  font-weight: bold;
}

/* /=================/ */
/* FOOTER */
.div-footer-grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 5px;
  background-color: rgb(191, 186, 186);
}

.div-footer-grid div {
  border: 1px solid gainsboro;
  text-align: center;
 
}

.div-footer-grid ul li{
  list-style: none;
 }

 .div-footer-grid ul a{
  text-decoration: none;
  color: rgb(69, 69, 69);
  font-family: Arial, Helvetica, sans-serif;
  
 }

.div-footer-grid p{
  text-align: center;
  border-radius: 7px;
  background-color: rgb(171, 170, 170);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}

.div-footer-grid li a:hover{
  background-color: red;
  padding: 5px;
  border-radius: 10px;
  
}

/* CODIGO LEGAL FOOTER */
.div-codigo-legal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(75, 75, 75);
  color: white;
  height: 50px;
  font-size: 0.8rem;
  
}

.div-codigo-legal span {
  margin-left: 18px ;
}

.div-codigo-legal a {
  text-decoration: none;
  color: white;
}

.div-codigo-legal a:hover{
  background-color: whitesmoke;
  color: black;
  border-radius: 10PX;
  padding: 7PX;
  font-weight: bold;
} 